<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <header>
    <h1>Library of Ang</h1>
  </header>

  <%- include('./partials/nav.ejs') %>

  <main>
    <h2><%= title %></h2>
    <p>This is the main content area of the webpage. You can add text, images, and other elements here.</p>
  </main>
  
  <%- include('./partials/footer.ejs') %>
</body>
</html>