/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-red: #D82A2A;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.blog-details {
  background: grey;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.blog-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: darkblue;
}

.blog-details p {
  font-size: 0.9em;
  margin: 0 0 10px 0;
}

.blog-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
}

input.error {
  border: 1px solid var(--main-red)
}

textarea.error {
  border: 1px solid var(--main-red)
}

form {
  /* background: grey; */
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); */
}

form label {
  display: block;
  margin: 10px 0 0 0;
}

form button {
  margin: 10px 0 0 0;
  display: block;
}